.root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.title {
  margin: 0;
  font-size: 1.75rem;
}

.choices {
  display: flex;
  gap: 1rem;
}
